<small style="font-size: 10px; color: #7f8c8d;">
    Conformément à la réglementation européenne sur la protection des données (RGPD), 
    nous voulons vous informer que vous avez le droit de demander la suppression de votre compte et de 
    vos données à tout moment. Si vous souhaitez exercer ce droit, 
    il vous suffit de cliquer sur le lien suivant <a href="{{ unsubscribeLink }}">Se désinscrire</a>.
</small>